@{
    ViewData["Title"] = "Portal View";
    var isLogIn = ViewData["islogIn"] as bool? ?? true;
}

<div class="portal">
    <div class="portal-module">
        <h1>@(isLogIn ? "Login" : "Create Account")</h1>
        <button type="button" class="btn btn-light google">
            <img src="~/assets/google-icon.svg" alt="google icon" />
            @(isLogIn ? "Login with Google" : "Sign up with Google")
        </button>
        <div class="separator">
            <hr /> <p>OR</p> <hr />
        </div>
        <div class="portal-forms">
            @if (isLogIn) {
                @Html.PartialAsync("_LoginForm")
            }
            else
            {
                @Html.PartialAsync("_SignUpForm")
            }
        </div>
        <button type="button" class="btn btn-primary">
            @(isLogIn ? "Login" : "Sign Up")
        </button>

        @if (isLogIn)
        {
            <p>Don't have an account? <a href="@Url.Action("", "", new { isLogIn = false })">Sign up</a></p>
        }
        else
        {
            <p>Already have an account? <a href="@Url.Action("", "", new { isLogIn = true })">Login</a></p>
        }
    </div>
</div>

